[submodule "app/bergamot/src/main/cpp/third_party/cld2"]
	path = app/bergamot/src/main/cpp/third_party/cld2
	url = https://github.com/CLD2Owners/cld2.git
[submodule "app/bergamot/src/main/cpp/bergamot-translator"]
	path = app/bergamot/src/main/cpp/bergamot-translator
	url = https://github.com/DavidVentura/bergamot-translator.git
[submodule "app/src/main/nativeDeps/tarkka"]
	path = app/src/main/nativeDeps/tarkka
	url = git@github.com:DavidVentura/tarkka.git
